{% assign current = page.url | downcase | split: '/' %}
<div class="call-to-action">
    <div class="cta-wrapper">
            <div class="cta-frame">
                        <img src="/images/frame-white.png" >
            </div>
            <div class="cta-header-img">
                        <img  src="/images/play-icon-sml.png">
                        <br />
            </div>
            <div class="cta-header">
                        <h3><span>eInvoicing:</span></h3><h3><span>understand the basics</span></h3>
            </div> 
            <div class="cta-text">
                        <p><span>Electronic invoicing (e-Invoicing) is the exchange of the invoice document between a supplier and a buyer in an integrated electronic format</span></p>
            </div>
            
            <div class="cta-hr">
                        <img src="/images/hr_grey.png">
                        <br />
            </div>
            <div class="cta-action-prompt">
                <p><span>FIND OUT MORE</span></p>
            </div>
            <div class="cta-action-img">
                        <a href="{{site.url | absolute}}/digital-business-processes/"><img src="./images/fwd-arrow-icon.png"></a>
            </div>       
   </div>      
   <div class="cta-wrapper">
            <div class="cta-frame" >
                        <img src="/images/frame-white.png" >
            </div>
            <div class="cta-header-img">
                        <img  src="/images/clock_sml.png">
                        <br />
            </div>
            <div class="cta-header">
                        <h3><span>Solution Providers:</span></h3><h3><span>Don’t get left behind…</span></h3>
            </div> 
            <div class="cta-text">
                        <p><span>You can become Provisionally Accredited now!</span></p>
            </div>
            
            <div class="cta-hr">
                        <img src="/images/hr_grey.png">
                        <br />
            </div>
            <div class="cta-action-prompt">
                <p><span><a href="{{site.url | absolute}}/get-accredited/">FIND OUT MORE</a></span></p>
            </div>
            <div class="cta-action-img">
                        <a href="{{site.url | absolute}}/get-accredited/"><img src="./images/fwd-arrow-icon.png"></a>
            </div>       
    </div>   
</div>
