{% assign current = page.url | downcase | split: '/' %}
<div class="call-to-action">
    <div>
            <div class="cta-frame" style="left: 20px;">
                        <img src="/images/frame-white.png" >
            </div>
            <div class="cta-header-img" style="left: 110px; top: 15px;">
                        <img  src="/images/play-icon-sml.png">
                        <br />
            </div>
            <div class="cta-header" style="left: 45px; top: 140px;">
                        <h3><span>eInvoicing:</span></h3><h3><span>understand the basics</span></h3>
            </div> 
            <div class="cta-text" style="left: 45px; top: 200px;">
                        <p><span>Electronic invoicing (e-Invoicing) is the exchange of the invoice document between a supplier and a buyer in an integrated electronic format</span></p>
            </div>
            
            <div class="cta-hr" style="left: 45px; top: 320px;">
                        <img src="/images/hr_grey.png">
                        <br />
            </div>
            <div class="cta-action-prompt" style="left: 165px; top: 352px;">
                <p><span>DOWNLOAD</span></p>
            </div>
            <div class="cta-action-img" style="left: 270px; top: 350px;">
                        <img src="./images/download.png">
            </div>       
   </div>      
   <div>
            <div class="cta-frame" style="left: 400px; ">
                        <img src="/images/frame-white.png" >
            </div>
            <div class="cta-header-img" style="left: 490px; top: 15px;">
                        <img  src="/images/clock_sml.png">
                        <br />
            </div>
            <div class="cta-header" style="left: 425px; top: 140px;">
                        <h3><span>Solution Providers:</span></h3><h3><span>Don’t get left behind…</span></h3>
            </div> 
            <div class="cta-text" style="left: 425px; top: 200px;">
                        <p><span>You can become Provisionally Accredited now!</span></p>
            </div>
            
            <div class="cta-hr" style="left: 425px; top: 320px;">
                        <img src="/images/hr_grey.png">
                        <br />
            </div>
            <div class="cta-action-prompt" style="left: 515px; top: 352px;">
                <p><span><a href="{{site.url | absolute}}/get-accredited/">FIND OUT MORE</a></span></p>
            </div>
            <div class="cta-action-img" style="left: 650px; top: 350px;">
                        <a href="{{site.url | absolute}}/get-accredited/"><img src="./images/fwd-arrow-icon.png"></a>
            </div>       
    </div>   
</div>
