    <div class="call-to-action">
        <div class="cta-frame" style="left: 110px; top: 46px;">
            <img src="./u476.png">
        </div>
        <div class="cta-text" style="left: 130px; top: 253px;">
                <p><span>Electronic invoicing (e-Invoicing) is the exchange of the invoice document between a supplier and a buyer in an integrated electronic format</span></p>
        </div>
        <div class="cta-header" style="left: 130px; top: 191px;">
                <h3><span>eInvoicing:</span></h3><h3><span>understand the basics</span></h3>
        </div>
        <div class="cta-header-img" style="left: 190px; top: 63px;">
            <img src="./clock_sml.png">
            <br />
        </div>
        <div class="cta-hr" style="left: 130px; top: 371px;">
            <img src="./hr_grey.png">
            <br />
        </div>
        <div class="cta-action-prompt" style="left: 265px; top: 394px;">
                <p><span>DOWNLOAD</span></p>
        </div>
        <div class="cta-action-img" style="left: 370px; top: 394px;">
            <img class="img " src="./download.png">
        </div>
    </div>

    <div class="call-to-action">
        <div class="cta-frame" style="left: 444px; top: 46px;">
            <img src="./u476.png">
        </div>
        <div class="cta-text" style="left: 470px; top: 253px;">
            <p><span>Electronic invoicing (e-Invoicing) is the exchange of the invoice document between a supplier and a buyer in an integrated electronic format</span></p>
        </div>
        <div class="cta-header" style="left: 470px; top: 191px;">
            <h3><span>eInvoicing:</span></h3><h3><span>understand the basics</span></h3>
        </div>
        <div class="cta-header-img" style="left: 534px; top: 63px;">
            <img src="./u488.png">
            <br />
        </div>
        <div class="cta-hr" style="left: 470px; top: 371px;">
            <img src="./hr_grey.png">
            <br />
        </div>
        <div class="cta-action-prompt" style="left: 605px; top: 394px;">
            <p><span>DOWNLOAD</span></p>
        </div>
        <div class="cta-action-img" style="left: 710px; top: 394px;">
            <img class="img " src="./download.png">
        </div>
    </div>