{% assign current = page.url | downcase | split: '/' %}

<ul class="header-menu">
    <li><a {% if page.url == '/' %}class="active"{% endif %} href="/">Home</a></li>
    <li class="dropdown"><a {% if current[1] == 'about' %}class="active"{% endif %} href="/about/">About us</a>
         <div class="dropdown-content">
                <a href="/our-vision">Our Vision</a>
                <a href="/council">The Council</a>
                <ul>
                <li class="dropdown-sub"><a href="javascript:void(0)" class="dropbtn-sub">Working Groups &#62;&#62;</a>
                    <div class="dropdown-content-subgroup">
                        <a href="/tech-working-group">Technical Working Group</a>
                        <a href="/semantic-working-group">Semantic Working Group</a>
                        <a href="/governance-working-group">Governance Working Group</a>
                        <a href="/adoption-working-group">Adoption Working Group</a>
                        <a href="/dcl-working-group">DCL Working Group</a>
                    </div>
                </li>
             </ul>
        </div>
    </li>
    <li  class="dropdown"><a href="javascript:void(0)">Business and Advisor Zone</a>
        <div class="dropdown-content">
            <a href="/media">Media Releases</a>
            <a href="/accredited-providers">Accredited Providers</a>
            <a href="/digital-business-processes">Digital Business Processes</a>
        </div>
    </li>
    <li class="dropdown"><a href="javascript:void(0)">Service Provider Zone</a>
        <div class="dropdown-content">
            <a href="/interoperability-framework">Technical Documentation</a>
            <a href="/provider-benefits">Benefits for Providers</a>
            <a href="/governance-processes">Governance Processes</a>
            <a href="/get-accredited">Get Accredited</a>
            <a href="/join-the-community">Join the Community</a>
        </div>
    </li>

</ul>

<div class="searchBar" id="searchBar">
	<a href="javascript:void(0)" id="searchIcon">search</a>
	<div id="search" class="search">
              <form role="search" method="get" action="{{ site.baseurl }}/search/">
                  <input id="searchString" name="searchString"
                         placeholder="enter search terms.." type="text" class="searchString">
                  <input id="searchButton" name="googleSearchName" type="button" value="Search" class="searchButton">
              </form>
    	</div>
</div>

<script type="text/javascript">
document.getElementById('searchIcon').onclick = function() {
	var sb = document.getElementById('search');

	if(sb.style.display==='none') {
		sb.style.display = 'block';
	}
	else {
		sb.style.display = 'none';
	}
	sb.focus();
};
	
window.addEventListener('click', function(e){
	if (!document.getElementById('searchBar').contains(e.target)){

		document.getElementById('search').style.display= 'none';

	}

});
</script>

              
