<header class="header">
    <div class="header-line">
        <div class="wrapper">
            <div id="mobile-menu-wrapper" class="mobile-menu">
                <button id="hamburger-menu" class="hamburger-menu">
                    <span>toggle menu</span>
                </button>
                <div id="mobile-menu" style="display: none;">
                    {% include header-menu.html %}
                  {% include sidebar-menu-tech.html %}
                </div>
            </div>
            <a href="/" class="logo"><img src="/images/Logo-tag-transparent.png" alt="Digital Business Council Logo"></a>
         <div id="standard-menu">
	    {% include header-menu.html %}
		</div>
            {% include search-bar.html %}
        </div>
    </div>
    <div class="header-content-tech">
        <div class="wrapper">
            <div class="header-text-box">
                <div class="header-name">Technical Zone</div>
                <div class="header-tagline">The content contained in this zone is targeted at IT professionals.</div>
            </div>
        </div>
    </div>
</header>
<script type="text/javascript">
    document.getElementById('hamburger-menu').onclick = function() {
        var nf = document.getElementById('mobile-menu');

        // Show and hide menu items when toggle is clicked
        if(nf.style.display==='none') {
            nf.style.display = 'block';
        }
        else {
            nf.style.display = 'none';
        }
    };

    window.addEventListener('click', function(e){
        if (!document.getElementById('mobile-menu-wrapper').contains(e.target)){
            document.getElementById('mobile-menu').style.display= 'none';
        }
    });
</script>
