{% assign current = page.url | downcase | split: '/' %}

<style>
ul .header-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li  .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    
}

li.dropdown {
    display: inline-block;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff6600;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>    


<ul class="header-menu">
    <li><a {% if page.url == '/' %}class="active"{% endif %} href="/">Home</a></li>
    <li class="dropdown"><a {% if current[1] == 'about' %}class="dropbtn"{% endif %} href="/about/">About us</a>
         <div class="dropdown-content">
                <a href="/our-vision">Our Vision</a>
                <a href="/council">The Council</a>
                <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Working Groups</a>
                    <div class="dropdown-content">
                        <a href="/tech-working-group">Technical Working Group</a>
                        <a href="/semantic-working-group">Semantic Working Group</a>
                    </div>
                </li>
        </div>
    </li>
    <li  class="dropdown"><a href="javascript:void(0)" class="dropbtn">Business and Advisor Zone</a>
        <div class="dropdown-content">
            <a href="#">Learning Centre</a>
            <a href="/accredited-providers">Accredited Providers</a>
            <a href="#">Digital Business Processes</a>
        </div>
    </li>
    <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Service Provider Zone</a>
        <div class="dropdown-content">
            <a href="/interoperability-framework">Technical Documentation</a>
            <a href="#">Benefits for Providers</a>
            <a href="#">Governance Processes</a>
            <a href="#">Get Accredited</a>
            <a href="#">Join the Community</a>
        </div>
    </li>
</ul>
