<ul class="sidebar-menu">
    {% assign current = page.url | downcase | split: '/' %}
    <li class="menu-title">Frequently Asked Questions</li>
    <li><a href="/business-case/">FAQ 1</a></li>
    <li><a href="/business-case/">FAQ 2</a></li>
    <li><a href="/business-case/">FAQ 3</a></li>
    <li class="menu-title">Join the Community</li>
    <li><a href="http://eepurl.com/ctZ6hf" target="_blank">Newsletter (subscribe)</a></li>
    <li><a href="http://chat.ausdigital.org" target="_blank">Chat (join team)</a></li>
    <br>
    <img src="{{site.url}}/images/eInvoicing-is-here.png" width="150px">
</ul>
