{% assign current = page.url | downcase | split: '/' %}
    
<ul class="sidebar-menu">
    <li class="menu-title"><button id="open-popup" onclick="showMailingPopUp" background-color="red">Register</button><span>&nbsp; to get involved</span></li>
    <li class="menu-title">Latest News</li>
<ul>
  {% for blog-page in site.categories.blog   limit:3 %}
    <div class="news-block">
        <i>{{ blog-page.date | date: "%a, %d %b %Y" }}</i>
        <a href="{{ blog-page.url | absolute_url }}">{{ blog-page.title }}</a>
        
    <table class="news-table">
    <tr>
    <td width="25px" padding="0px">
    <a href="http://m.facebook.com/sharer.php?u={{ blog-page.url | absolute_url }}&t={{ blog-page.title }}&sv={{ blog-page.excerpt-image | absolute_url}})"><img src="{{site.url}}/images/favicon/facebook.png" class="social-img" width="20px"/></a>
    </td>
    <td width="25px" padding="0px">
    <a href="https://twitter.com/share?text={{ blog-page.title }}&url={{ blog-page.url | absolute_url }}"><img src="{{site.url}}/images/favicon/twitter.png" width="20px" class="social-img" /></a>
    </td>
    <td width="25px" padding="0px">
    <a href="http://www.linkedin.com/shareArticle?mini=true&summary={{ blog-page.excerpt }}&title={{ blog-page.title }}&url={{ blog-page.url | absolute_url }}"><img src="{{site.url}}/images/favicon/linkedin.jpg" width="20px" class="social-img" /></a>
    </td>
    <td width="25px" padding="0px">
    <a href="mailto:?subject=Digital%20Business%20Council%20-%20{{ blog-page.title }}&body=Hi%2C%0A%0AI%20found%20this%20article%20from%20the%20Digital%20Business%20Council%20that%20I%20thought%20you%20might%20be%20interested%20in%3A%20%0A%0A{{blog-page.url | absolute_url }}"><img src="{{site.url}}/images/favicon/mailto.png" class="social-img" width="20px"/></a>
    </td>
    </tr>
    </table>
    </div>
    
    {% else %}
    <div class="news-block">
        No new articles available.
    </div>
  {% endfor %}
</ul>
    
    <li class="menu-title">Upcoming Events</li>
    
    <ul>
    {% for blog-page in site.categories.event   limit:3 %}
    {% if blog-page.event-datetime >= site.time %}    
    <div class="news-block">
        <i>{{ blog-page.event-datetime | date: "%a, %d %b %Y" }}</i>
        <a href="{{ blog-page.url | absolute_url }}">{{ blog-page.title }}</a>
    
    <table class="news-table">
    <tr>
    <td width="25px" padding="0px">
    <a href="http://m.facebook.com/sharer.php?u={{ blog-page.url | absolute_url }}&t={{ blog-page.title }}&sv={{ blog-page.excerpt-image | absolute_url}})"><img src="{{site.url}}/images/favicon/facebook.png" class="social-img" width="20px"/></a>
    </td>
    <td width="25px" padding="0px">
    <a href="https://twitter.com/share?text={{ blog-page.title }}&url={{ blog-page.url | absolute_url }}"><img src="{{site.url}}/images/favicon/twitter.png" width="20px" class="social-img" /></a>
    </td>
    <td width="25px" padding="0px">
    <a href="http://www.linkedin.com/shareArticle?mini=true&summary={{ blog-page.excerpt }}&title={{ blog-page.title }}&url={{ blog-page.url | absolute_url }}"><img src="{{site.url}}/images/favicon/linkedin.jpg" width="20px" class="social-img" /></a>
    </td>
    <td width="25px" padding="0px">
    <a href="mailto:?subject=Digital%20Business%20Council%20-%20{{ blog-page.title }}&body=Hi%2C%0A%0AI%20found%20this%20article%20from%20the%20Digital%20Business%20Council%20that%20I%20thought%20you%20might%20be%20interested%20in%3A%20%0A%0A{{blog-page.url | absolute_url }}"><img src="{{site.url}}/images/favicon/mailto.png" class="social-img" width="20px"/></a>
    </td>
    </tr>
    </table>
    </div>
        {% endif %}
    {% else %}
    <div class="news-block">
        No upcoming events.
    </div>
  {% endfor %}
    </ul>
</ul>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
    function showMailingPopUp() {
        require(["mojo/signup-forms/Loader"], function(L) { 
            L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"03e9d462bdd6a0d9e268babc1","lid":"a18339d40b"}) 
        })
    };
  
</script>
