<ul class="sidebar-menu-tech">
    {% assign current = page.url | downcase | split: '/' %}
    <li class="menu-title">Interoperabilty Framework</li>    
    <li><a {% if current[1] == 'interoperability-framework' %}class="active"{% endif %} href="/interoperability-framework/">Framework Overview</a></li>
    <li><a {% if current[1] == 'governance-model' %}class="active"{% endif %} href="/governance-model/">Governance Model</a></li>
    
    <li class="menu-title">Organisational Policies</li>
    <li><a {% if current[1] == 'business-identifiers' %}class="active"{% endif %} href="/business-identifiers/">Policy on Business Identifiers</a></li>
    
    <li class="menu-title">Semantic Specifications</li>
    <li><a {% if current[1] == 'code-lists' %}class="active"{% endif %} href="/code-lists/">Code Lists Mgmt (CODE)</a></li>
    <li><a {% if current[1] == 'billing-semantics' %}class="active"{% endif %} href="/billing-semantics/">Billing Process (BILL)</a></li>
    <!--
    <li><a {% if current[1] == 'purchase-order-semantics' %}class="active"{% endif %} href="/purchase-order-semantics/">Purchase Orders (PO)</a></li>
    <li><a {% if current[1] == 'fulfillment-semantics' %}class="active"{% endif %} href="/fulfillment-semantics/">Fulfillment (SHIP)</a></li>
    -->
    
    <li class="menu-title">eDelivery Specifications</li>
    <li><a {% if current[1] == 'digital-capability-locator' %}class="active"{% endif %} href="/digital-capability-locator/">Digital Capability Locator</a></li>
    <li><a {% if current[1] == 'digital-capability-publisher' %}class="active"{% endif %} href="/digital-capability-publisher/">Digital Capability Publisher</a></li>
    <li><a {% if current[1] == 'transaction-access-point' %}class="active"{% endif %} href="/transaction-access-point/">Access Point</a></li>
    <li><a {% if current[1] == 'ubl-xml' %}class="active"{% endif %} href="/ubl-xml/">XML Syntax (UBL-XML)</a></li>

    <!--
    <li class="menu-title">eDelivery Specifications (proposed)</li>
    <li><a {% if current[1] == 'tap-gateway' %}class="active"{% endif %} href="/tap-gateway/">TAP Gateway (TAP-GW)</a></li>
    <li><a {% if current[1] == 'identity-provider' %}class="active"{% endif %} href="/identity-provider/">Identity Provider (IDP)</a></li>
    <li><a {% if current[1] == 'notary' %}class="active"{% endif %} href="/notary/">Notary (NRY)</a></li>
    <li><a {% if current[1] == 'ubl-json' %}class="active"{% endif %} href="/ubl-json/">JSON Syntax (UBL-JSON)</a></li>
    -->

    <li class="menu-title">Community</li>
    <li><a href="#" target="_blank">Newsletter (subscribe)</a></li>
    <li><a href="https://github.com/Digital-Business-Council/" target="_blank">GitHub</a></li>
</ul>
