html, body{
  height: 100%;
}

body{
  font-family: $font-family;
  color: $app-grey;
  background: #fff;
}

img{
  max-width: 100%;
}

.wrapper{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;

}
.wrapper:after{
  display: table;
  clear: both;
  content: '';
}

.main-content{
  display: table;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 768px) {
    display: block;
  }
}
.main-content-blog{
  display: table;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.page-content-blog{
  display: table-cell;
  padding: 20px 0;
  width:1212px;
}

.page-sidebar{
  display: table-cell;
  padding: 20px 0;
}
.page-content{
  display: table-cell;
  padding: 20px 0;
}

.page-sidebar{
  border-right: 1px solid $app-light-grey;
  width: 25%;

  .sidebar-menu{
    list-style: none;

    li{
      text-align: left;
      padding: 6px 0;

      &.menu-title{
        margin-top:10px;
        padding: 6px 26px 8px 6px;
        color: white;
        border: 1px solid $dbc-secondary;
        background-color: $dbc-secondary;
        font-weight: 600;
        font-size: 16px;
      }
    }

    a{
      display: block;
      padding: 0 1px 0 0;
      border-right: 4px solid #fff;
      color: #939393;
      font-size: 16px;
      text-decoration: none;

      &:hover{
        color: $app-red;
      }

      &.active{
        border-color: $app-red;
        color: $app-red;
        font-weight: 600;
      }

    }
    
    .news-block{
      padding-left:3px;
      padding-top:3px;
      padding-right:0px;
      padding-bottom:0px;
      margin-bottom:2px;
      border-radius:6px;
      box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
    }
    
    
    .social-img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
      padding: 0 0 0 0;
    
    &:hover{
     opacity:0.3; 
    }
  }
  }
  .sidebar-menu-tech{
    list-style: none;
    border: 1px solid $app-grey;

    li{
      text-align: left;
      padding: 6px 0;

      &.menu-title{
        padding: 6px 26px 8px 6px;
        color: white;
        border: 1px solid $dbc-secondary;
        background-color: $dbc-secondary;
        font-weight: 600;
        font-size: 16px;
      }
    }

    a{
      display: block;
      padding: 0 22px 0 15px;
      border-right: 4px solid #fff;
      color: #939393;
      font-size: 16px;
      text-decoration: none;

      &:hover{
        color: $app-red;
      }

      &.active{
        border-color: $app-red;
        color: $app-red;
        font-weight: 600;
      }

    }
  }
}

.social-img{    
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(100%);
   
    	&:hover{
     		opacity:0.3; 
    	}
  }

.page-content,
.page-content-blog{
  
.media-zone-layout{
	position:relative;
	min-height:600px;
}

.media-zone-panel{
	position:relative;
	align-items:baseline;
	z-index:2;
	
	display: -webkit-flex; /* Safari */
    	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
    	display: flex;   
    	flex-wrap: wrap;
}

.media-zone-cardstack{
	position:relative;
	width:380px; 
	background-color: #ffffff;
	padding-bottom:25px;
	border-radius:6px;
	margin:2px;
	z-index:3;
	border: 1px solid #c8cbce;
    	box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);	
	
	.media-zone-cardstack-header{
		position:relative;
		top:0px;
		left:0px;
		z-index:4;
		border-top-right-radius:6px;
		border-top-left-radius:6px;
		text-align:center;
		color: white;
		background-color: $dbc-secondary;
		
		h3{
			margin-bottom:5px;
		}
	}
	.media-zone-cardstack-footer{
		position:relative;
		bottom:0px;
		left:0px;
		z-index:4;
		border-bottom-left-radius:6px;
		border-bottom-right-radius:6px;
		text-align:center;
		color: white;
		background-color: $dbc-secondary-1;
		
		a{
			position: absolute;
			font-family: 'Arial Bold', 'Arial';
   			font-weight: 700;
    			font-style: normal;
    			color: $dbc-primary;
			text-align: left;
        		line-height: normal;
            		border-width: 0px;
			right:40px;			
			z-index:6;
      			display: block;
      			font-size: 16px;
      			text-decoration: none;
			
      			&:hover{
        			color: $dbc-secondary;
      			}
  		}
		img {
            		position: absolute;
		 	width: 20px;
    		 	height: 18px;
            		display: block;
            		line-height: normal;
            		border-width: 0px;
			right:15px;
		  	z-index:6;
		}
	}
}

.media-zone-card {
	position:relative;
	height:250px;
	width:370px;
	
	z-index:5;
    	background-color: whitesmoke;
    	color: $dbc-secondary;
    	border-radius:6px;
    	padding-top:3px;
    	padding-right:5px;
    	padding-left:5px;
    	padding-bottom:3px;
    	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
    	text-align:left;
    	border: 1px solid #c8cbce;
    	box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
   
	.card-title{
		position:absolute;
		top:10px;
		margin-bottom:5px; 
		font-size:16px;
		line-height:22px;
		z-index:6;	
	}

	.card-date{
		position:absolute;
		top: 58px;
		font-size:12px;
		z-index:6;
	}

	.card-social{
		position:absolute;
		top:60px;
		right:10px;
    		font-size:16px;
		z-index:6;
		
		table, tbody,th,tr,td{
			padding: 1px 1px 1px 1px;
			border:none;
			vertical-align:top;
		}
	}

  	a{
      		display: block;
      		color: $dbc-primary;
      		font-size: 16px;
      		text-decoration: none;

      		&:hover{
        		color: $dbc-secondary;
      		}

      		&.active{
        		color: white;
      		}
  	}
  
	.card-content{
		position:absolute;
		top:90px;
		border:none;
    		vertical-align:top;
    		padding: 1px 1px 1px 1px;
    		font-size:13px;
		z-index:6;
		line-height:18px;
		
		img{
        		float:left;
        		max-width:125px;
        		margin-right: 10px;
        		margin-top: 3px;
    		}	
	}
	.card-action{
		position:absolute;
		top: 222px;
		right:40px;
		z-index:6;
		
		font-family: 'Arial Bold', 'Arial';
	   		font-weight: 700;
    		font-style: normal;
    		color: #EC520F;
		font-size: 14px;
		text-align: left;
        	display: block;
        	line-height: normal;
             	border-width: 0px;
		
		a{
	      		display: block;
      		color: $dbc-primary;
		font-size: 14px;
      		text-decoration: none;

      		&:hover{
        		color: $dbc-secondary;
      		}

      		&.active{
        		color: white;
      		}
  	}
	}
	.card-action-icon{

		position:absolute;
		top: 215px;
		right:5px;
		z-index:6;
		
		a{
      		display: block;
      		color: $dbc-primary;
      		font-size: 14px;
      		text-decoration: none;

      		&:hover{        		color: $dbc-secondary;
      		}

      		&.active{
        		color: white;
      		}
  	}
	}
}

.faq-toc{
	position:relative;
	max-width:1200px;
	z-index:2;
	margin:auto;
	width:80%;
	display: -webkit-flex; /* Safari */
    	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
    	display: flex;   
    	flex-wrap: wrap;
}
  
section {
  position: fixed;
  top: -9999px;
  left: -9999px;
  visibilty: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
section.active {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibilty: visible;
  opacity: 0;
  opacity: 1;
}	
section .faq-answers a.close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: $dbc-primary;
  color: #fff;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
section .faq-answers a.close:hover {
  background-color: $dbc-secondary;
}

section.active .faq-answers {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}	
section .faq-answers{
	position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin: 0 auto;
  max-width: 80%;
  padding: 40px;
  background-color: #fff;
  overflow-y: scroll;
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  -moz-transition: opacity 0.2s, -moz-transform 0.2s;
  -o-transition: opacity 0.2s, -o-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
	z-index:100;
	}
	
.faq-answers-answerblock{
	display:none;
	
	&.active {
		display:block;
	}
	a.expander {
  		display: block;
  		position: absolute;
  		top: 0;
 	 	right: 0;
  		width: 40px;
  		height: 40px;
  		background-color: $dbc-primary;
  		color: #fff;
  		font-weight: 700;
  		line-height: 40px;
  		text-align: center;
	}
	a.expander:hover {
  		background-color: $dbc-secondary;
	}

	img{
		float:left;
		height:40px;
		margin:5px;
	}
}
.faq-answers-questionblock{
	a{
		vertical-align:top;
	}
	
	img{
		height:40px;
		margin-left:5px;
		margin-right:5px;
		margin-bottom:5px;
		margin-top:0px;
	}
}
	
.faq-category{
    	background-color: #ffffff;
    	color: $dbc-secondary;
	position:relative;
    	border-radius:6px;
    	padding-top:15px;
    	padding-right:10px;
    	padding-left:10px;
    	padding-bottom:25px;
   	width:300px;
	height:150px;
    	text-align:center;
    	border: 1px solid #c8cbce;
    	box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:10px;
	
	a{
      		display: block;
      		color: $dbc-primary;
     		font-size: 23px;
      		text-decoration: none;

      		&:hover{
        		color: $dbc-secondary;
      		}

      		&.active{
        		color: white;
      		}
  	}
	.category-img{
		position:relative;
		width:60px;
		text-align:center;
	}
}
  
	
.blog-excerpt{
    background-color: #ffffff;
    color: $dbc-secondary;
    border-radius:6px;
    padding-top:3px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:3px;
    margin-bottom:10px;
    text-align:left;
    border: 1px solid #c8cbce;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
   
  .social-img{    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    
    &:hover{
     opacity:0.3; 
    }
  }
  
  a{
      display: block;
      color: $dbc-primary;
      font-size: 16px;
      text-decoration: none;

      &:hover{
        color: $dbc-secondary;
      }

      &.active{
        color: white;
      }
  }
  h3{
    margin-bottom:5px; 
  }
  .blog-table,tbody,tr,td{
    border:none;
    vertical-align:top;
    padding: 1px 1px 1px 1px;
    font-size:16px;
    
    img{
        float:left;
        max-width:125px;
        margin-right: 10px;
        margin-top: 10px;
    }
  }
}
}
.page-content{
  padding-left: 35px;
  max-width: 835px;
}

@media screen and (max-width: 768px){
  .page-sidebar{
    display: none;
    width: 100%;
  }

  .page-content{
    width: 100%;
    display: block;
    padding: 50px 0 0 0;
  }


}
