html, body{
  height: 100%;
}

body{
  font-family: $font-family;
  color: $app-grey;
  background: #fff;
}

img{
  max-width: 100%;
}

.wrapper{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;

}
.wrapper:after{
  display: table;
  clear: both;
  content: '';
}

.main-content{
  display: table;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.page-sidebar{
  display: table-cell;
  padding: 20px 0;
}
.page-content{
  display: table-cell;
  padding: 20px 0;
}

.page-sidebar{
  border-right: 1px solid $app-light-grey;
  width: 25%;

  .sidebar-menu{
    list-style: none;

    li{
      text-align: left;
      padding: 6px 0;

      &.menu-title{
        margin-top:10px;
        padding: 6px 26px 8px 6px;
        color: white;
        border: 1px solid $dbc-secondary;
        background-color: $dbc-secondary;
        font-weight: 600;
        font-size: 16px;
      }
    }

    a{
      display: block;
      padding: 0 1px 0 0;
      border-right: 4px solid #fff;
      color: #939393;
      font-size: 16px;
      text-decoration: none;

      &:hover{
        color: $app-red;
      }

      &.active{
        border-color: $app-red;
        color: $app-red;
        font-weight: 600;
      }

    }
    
    .news-block{
      padding-left:3px;
      padding-top:3px;
      padding-right:0px;
      padding-bottom:0px;
      margin-bottom:2px;
      border-radius:6px;
      box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
    }
    
    
    .social-img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
      padding: 0 0 0 0;
    
    &:hover{
     opacity:0.3; 
    }
  }
  }
  .sidebar-menu-tech{
    list-style: none;
    border: 1px solid $app-grey;

    li{
      text-align: left;
      padding: 6px 0;

      &.menu-title{
        padding: 6px 26px 8px 6px;
        color: white;
        border: 1px solid $dbc-secondary;
        background-color: $dbc-secondary;
        font-weight: 600;
        font-size: 16px;
      }
    }

    a{
      display: block;
      padding: 0 22px 0 15px;
      border-right: 4px solid #fff;
      color: #939393;
      font-size: 16px;
      text-decoration: none;

      &:hover{
        color: $app-red;
      }

      &.active{
        border-color: $app-red;
        color: $app-red;
        font-weight: 600;
      }

    }
  }
}

.social-img{    
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(100%);
   
    	&:hover{
     		opacity:0.3; 
    	}
  }

.page-content{
  
.media-zone-layout{
	position:relative;
	min-height:600px;
	background-color: aqua;
}

.media-zone-panel{
	position:relative;
	background-color: yellow;
	align-items:baseline;
	z-index:2;
	
	display: -webkit-flex; /* Safari */
    	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
    	display: flex;   
    	flex-wrap: wrap;
}

.media-zone-cardstack{
	position:relative;
	max-width:400px; 
	background-color: grey;
	padding-bottom:1px;
	margin:2px;
	z-index:3;
		
	.media-zone-cardstack-header{
		position:relative;
		top:10px;
		left:0px;
		z-index:4;
		text-align:center;
		color: white;
		background-color: grey;
	}
	.media-zone-cardstack-footer{
		position:relative;
		bottom:0px;
		left:0px;
		z-index:4;
		text-align:center;
		color: white;
		background-color: grey;
	}
}

.media-zone-card {
	position:relative;
	height:250px;
	width:394px;
	left:3px;
	z-index:5;
    	background-color: #ffffff;
    	color: $dbc-secondary;
    	border-radius:6px;
    	padding-top:3px;
    	padding-right:5px;
    	padding-left:5px;
    	padding-bottom:3px;
    	margin-bottom:10px;
    	text-align:left;
    	border: 1px solid #c8cbce;
    	box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
   
	.card-title{
		position:absolute;
		top:10px;
		margin-bottom:5px; 
		font-size:16px;
		line-height:22px;
		z-index:6;	
	}

	.card-date{
		position:absolute;
		top: 58px;
		font-size:12px;
		z-index:6;
	}

	.card-social{
		position:absolute;
		top:60px;
		right:10px;
    		font-size:16px;
		z-index:6;
		
		table, tbody,th,tr,td{
			padding: 1px 1px 1px 1px;
			border:none;
			vertical-align:top;
		}
	}

  	a{
      		display: block;
      		color: $dbc-primary;
      		font-size: 16px;
      		text-decoration: none;

      		&:hover{
        		color: $dbc-secondary;
      		}

      		&.active{
        		color: white;
      		}
  	}
  
	.card-content{
		position:absolute;
		top:90px;
		border:none;
    		vertical-align:top;
    		padding: 1px 1px 1px 1px;
    		font-size:13px;
		z-index:6;
		line-height:18px;
		
		img{
        		float:left;
        		max-width:125px;
        		margin-right: 10px;
        		margin-top: 3px;
    		}	
	}
	.card-action{
		position:absolute;
		top: 220px;
		right:5px;
		z-index:6;
		
		a{
      		display: block;
      		color: $dbc-primary;
      		font-size: 14px;
      		text-decoration: none;

      		&:hover{
        		color: $dbc-secondary;
      		}

      		&.active{
        		color: white;
      		}
  	}
	}
}

  
  
  
.blog-excerpt{
    background-color: #ffffff;
    color: $dbc-secondary;
    border-radius:6px;
    padding-top:3px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:3px;
    margin-bottom:10px;
    text-align:left;
    border: 1px solid #c8cbce;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
   
  .social-img{    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    
    &:hover{
     opacity:0.3; 
    }
  }
  
  a{
      display: block;
      color: $dbc-primary;
      font-size: 16px;
      text-decoration: none;

      &:hover{
        color: $dbc-secondary;
      }

      &.active{
        color: white;
      }
  }
  h3{
    margin-bottom:5px; 
  }
  .blog-table,tbody,tr,td{
    border:none;
    vertical-align:top;
    padding: 1px 1px 1px 1px;
    font-size:16px;
    
    img{
        float:left;
        max-width:125px;
        margin-right: 10px;
        margin-top: 10px;
    }
  }
}
}
.page-content{
  padding-left: 35px;
  max-width: 835px;
}

@media screen and (max-width: 768px){
  .page-sidebar{
    display: none;
    width: 100%;
  }

  .page-content{
    width: 100%;
    display: block;
    padding: 50px 0 0 0;
  }


}
