$app-red: #ff5000;
$app-grey: #313e48;
$app-light-grey: #ececec;

$dbc-primary: #F05423;
$dbc-primary-1: #FF9877;
$dbc-primary-2: #FE794F;
$dbc-primary-3: #C5370A;
$dbc-primary-4: #9C2600;

$dbc-secondary: #343F49;
$dbc-secondary-1: #56626E;
$dbc-secondary-2: #889198;
$dbc-secondary!1: #1A2936;
$dbc-secondary!2: #081826;

$dbc-tertiary: #ffd02d;
$dbc-tertiary-1: #ffdd66;
$dbc-tertiary-2: #ffeeb4;
$dbc-tertiary!1: #cfa100;
$dbc-tertiary!2: #86f00;

$font-family: 'Open Sans', sans-serif;
