$app-red: #ff5000;
$app-grey: #313e48;
$app-light-grey: #ececec;

$dbc-primary: #F05423;
$dbc-primary-1: #FF9877;
$dbc-primary-2: #FE794F;
$dbc-primary-3: #C5370A;
$dbc-primary-4: #9C2600;

$dbc-secondary: #343F49;
$dbc-secondary-1: #616c76;
$dbc-secondary-2: #bbbec0;
$dbc-secondary-3: #162736;
$dbc-secondary-4: #010d18;

$dbc-tertiary: #ffd02d;
$dbc-tertiary-1: #ffdd66;
$dbc-tertiary-2: #ffeeb4;
$dbc-tertiary-3: #cfa100;
$dbc-tertiary-4: #86fa00;

$font-family: 'Open Sans', sans-serif;
