$app-red: #ff5000;
$app-grey: #313e48;
$app-light-grey: #ececec;

$dbc-primary: #F05423;
$dbc-primary-1: #FF9877;
$dbc-primary-2: #FE794F;
$dbc-primary-3: #C5370A;
$dbc-primary-4: #9C2600;

$dbc-secondary: #343F49;

$dbc-teriary: #ffd02d;

$font-family: 'Open Sans', sans-serif;
